/* This was basically just imported from google, defines the font that can be called
at any time 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Creating some custom properties */
/* So like each of these these properties in the ':root' can be called so that the values don't have to be repeated all the time */
:root{
    --light-color: #fff;
    --light-color-alt:#afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}


/* Creating some base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 10px; */
    font-size: 62.5%;
}
body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    /* This transition is for toggling between light mode and dark mode */
    transition: background-color .25s , color .25;
}
a{
    text-decoration: none;
    /* Basically color inherit means that the color 
    should be inherited from its parent class, 
    so all a tags should inherit the color from their parents
     */
    color: inherit;
}
img{
    max-width: 100%;
    display: block;
}
ul{
    list-style-type: none;
}
input,
button{
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}
i{
    font-size: var(--font-size-md);
    cursor: pointer;
    
}

body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt:rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color:#fff;
    --transparent-light-color:#252830;
    --transparent-dark-color: rgba(0,0,0,.1);
    transition: 0.3s ease-out;
}

.container{
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding: 0 1.5 rem;
}
.btn.place-items-center{
    /* border: 1px solid red; */
    display: inline-flex;
    align-items: center;
    justify-content:center ;
}
.screen-sm-hidden{
    display: none;
}
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
  
    top: 0;
    left: 0;
    width: 100%;
    /* border: 1px solid red; */
    z-index: 999;
}
.navbar{
    display: flex;
    align-items: cneter;
    justify-content: space-between;
    padding: 10px;

}
.logo{  
    font-size: var(--font-size-md);
    color: var(--light-color);
}
/* Designs the menu that will be in the hamburger section */
.menu{
position: absolute;
top: 8.5rem;
right: 1.5rem;
width: 23rem;
background-color: var(--secondary-background-color);
padding: 1.5rem;


/* Sets the opactity of the links to zero, not visible but its still there and clickable
will be useful for JavaScript
*/
/* opacity: 0; */
/* This scales down the size of the clickable links so that it isn't clickable
will be useful for JavaScript
*/
/* transform: scale(0); */
transition: 0.3s ease-in;
}

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);  


}
/* The arranges the links in a colunmn format */
.menu .list{
    flex-direction: column;
 }
/* The link that is active will have this color */
.list-link.current{
    color: var(--light-color)
}
.close-menu-icon{
    display: none;
}
.list-link:hover,
.btn:hover,
.btn:hover span
{
    
    color: var(--light-color);
 
    border-bottom: 1px solid white;
    transition: 0.3s ease-in-out;
    font-size: 20px;
}

/* I am setting the display to none because dark mode is the default so the sun 
icon which is for light theme needs to be showing so that user can change to 
light theme
*/
.moon-icon{
    display:  none;
}
/* When the body has the light theme the sun should be displayed as none  
important for the JavaScript aspect
*/
.light-theme .sun-icon{
    display: none;
}
/* You understand rii?
Moon theme has to show
*/
.light-theme .moon-icon{
    display: block;
}

/* I want to add a box shadow to the header when the user scrolls
    when it is activated
 */
.header.activated{
    box-shadow: 0 1px .5rem var(--transparent-light-color);
    
}
/* Also a box shadow was added to the menu bar too 
    when it is activated
*/
.menu.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
/* Sets the opactity of the links to zero, not visible but its still there and clickable
will be useful for JavaScript
*/
opacity: 1;
/* This scales down the size of the clickable links so that it isn't clickable
will be useful for JavaScript
*/
transform: scale(1);
}
/* When the menu is open the open-menu-icon shouldn't be displayed */
.menu-toggled-icon.activated .open-menu-icon{
    display: none;
}
/* When the menu is open the close-menu-icon should be displayed */
.menu-toggled-icon.activated .close-menu-icon{
    display: block;
}


.search{
    height: 200rem;
}